@{
    ViewData["Title"] = "Home Page";
}

<a asp-controller="Admin" asp-action="Index">Outgoing URL</a>
<a asp-controller="Customer" asp-action="Check">Check action of Customer Controller</a>
<a asp-controller="Product" asp-action="Index" asp-route-id="100">Pass 100 to the id segment</a>
<a asp-controller="Product" asp-action="Index" asp-route-id="100" asp-route-name="Apple">Query String</a>
<a asp-route="sales">Sales</a>

<p>@Url.Action("List", "Product", new{ id = 10})</p>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
